{% extends 'base.html.twig' %} {% block body %}
<div class="container">
  <h2>Bienvenu sur <strong>Mon Blog</strong></h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In error
    perferendis illo architecto corrupti sequi vitae ipsam obcaecati nobis
    similique, quibusdam suscipit officiis dolorum saepe quod velit at quia
    quisquam?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam dolore
    illo consectetur sed omnis, iste dolor modi enim ullam consequatur beatae!
    Eveniet error officia, quis iure adipisci voluptas molestiae
    nostrum.Obcaecati, ea enim tenetur, repellat, fuga eius aspernatur qui
    asperiores dolorum ipsam voluptate ex? Cum illo assumenda provident sed
    totam eveniet veritatis, esse aliquid corrupti dignissimos corporis. In,
    fugiat necessitatibus.
  </p>
</div>
{% endblock %}
